---
layout: page
title: Mike Smith
subtitle: This is where I share the most useful information I got
use-site-title: true
---

<div class="posts-list">
  {% for post in paginator.posts %}

    
	  <h2 class="post-title">
      Welcome to the health and wellbeing site.</h2>
      <p>Some <a href="https://nbcf.org.au/about-breast-cancer/diagnosis/types-of-breast-cancer/">types of breast cancer</a> cells are constantly changing and adapting to become resistant to therapies. This continuous evolution generates a lot of stress inside the cancer cells. In new research published this week in Science Signalling,US scientists have identified a way to max-out this cell stress, leading to the self-destruction of breast cancer cells.
</p>
<p>Most research into targeted breast cancer therapy focuses on oncogenes – the genes known to cause cancer. However, as some cancer cells adapt and evade therapy, they become harder to target. New treatment strategies are needed. Dr Kakajan Komurov and his team from the Cancer and Blood Disease Institute of Cincinnati Children’s Hospital Medical Centre have focused their research on non-oncogenes to find vulnerabilities in breast cancer cell growth.
</p>
<p>By investigating a hard-to-treat form of <a href="https://nbcf.org.au/project/discovery-of-new-therapy-targets-in-her2-positive-breast-cancer-using-a-transposon-mutagenesis-screen/">HER2-positive breast cancer</a>, the researchers discovered that as the cancer cells adapt and evolve to become resistant to therapy, they have an increased level of a protein called ERAD – an important survival mechanism for HER2 cancer cells.
</p>

<p>
The ERAD pathway plays an important role in the structure of cells and it helps cancer cells cope with the stress of chemotherapy. Study data show that HER2 cancer cells become addicted to the ERAD pathway. Instead of being sensitive to chemotherapy and dying off, ERAD allows cancer cells to survive.
</p>
<p>
This finding prompted researchers to think that developing a targeted treatment to block ERAD in cancer cells would result in increased cell-stress, leading to the self-destruction of breast cancer cells.
</p>
<p>
Researchers tested this theory on HER2 cancer cells in the lab, and found that blocking ERAD was effective at selectively killing HER2-positive breast cancers.
</p>
<p>
“We present an alternative generic strategy for <a href="https://nbcf.org.au/about-breast-cancer/treatment/">cancer treatment</a>, which is removing cancer cells’ defences against their own intrinsic stress,” said Dr Komurov.
</p>
<p>
“We leverage the fact that tumour progression essentially is an evolutionary process. Our findings highlight the feasibility of maximising cell stress by inhibiting adaptive pathways to cause cell death.”
</p>
<p>
The next step for the research will be to test the experimental treatment regimen in mouse models of HER2-postive breast cancer. Researchers also plan to begin testing an experimental cancer drug that blocks a component of the ERAD pathway.
</p>
<p>
If successful, this line of research could provide a new and targeted option for women with hard-to-treat or resistant <a href="https://nbcf.org.au/about-breast-cancer/">breast cancers</a>.
</p>


      {% if post.image %}
      <div class="post-image">
       
          <img src="{{ post.image | relative_url }}">
        
      </div>
      {% endif %}
  

  {% endfor %}
</div>


